version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: my-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    networks:
      my-network:
        aliases:
          - my-mongo
  postgres:
    image: postgres:15.0
    container_name: my-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      my-network:
        aliases:
          - my-postgres
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my-app
    restart: always
    ports:
      - "8080:8080"
    environment:
      MONGODB_URI: mongodb://mongo:27017/mydb
      MONGODB_DATABASE: mydb
    depends_on:
      - mongo
      - postgres
    networks:
      my-network:
        aliases:
          - my-app
networks:
  my-network:
